{% extends 'dashboard/base.html' %} 
{% load crispy_forms_tags %}
{% block content %}

<style>


    .card-header {
    color:black!important;
    background:white !important;
    transition: 0.3s ease-in;
}

.demo {
   display: none;
}



.btn
{
    border:none;
    background-color:rgb(83,104,120);
    padding:10px;
    border-radius:5px;
}




</style>

<div class="background">
<div class="container"">
    <div class="row">
        {% for note in notes %}
        <div class="col-md-3" style="margin-top:15px; margin-bottom:15px;">
            <a href="{% url 'notes-detail' note.id %}">
                <div class="card" style="margin-top:15px; margin-bottom:15px; box-shadow:none">
                    <div class="card-header">{{note.title}}</div>
                    <div class="card-body">{{note.description|slice:"0:100"}}</div>
                    <div class="card-footer mt-auto "><a href="{% url 'delete-note' note.id %}">
                        <i class="fa fa-trash fa-2x"></i></a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

        <br><br>

    </div>
</div>

<br><br>

<div class="container">
<button type='button' class="btn"> Create Notes </button>
<div class="container demo" id="demo">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
        </fieldset>
        {{form|crispy}}
        <div class="form-group">
            <button href="" class="btn" type="submit">
                Create
            </button>
        </div>
    </form>
</div>
</div>

<br><br><br>

</div>

<script>var tag = document.getElementById('demo');
    var button = document.querySelector('button');
    button.addEventListener('click', function(){
    tag.classList.toggle('demo');
    });</script>

{% endblock content %}